<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Test Ajax</title>
    </head>
    <body>
        <h1>XMLHttpRequest Level 2</h1>
        <a href="http://dev.opera.com/articles/view/xhr2/">Introduction to XMLHttpRequest Level 2</a>
        <a href="http://www.nczonline.net/blog/2012/06/05/working-with-files-in-javascript-part-5-blobs/">Blobs</a>
        <script type="text/javascript" charset="utf-8" src="../static/js/util.js"></script>
        <script type="text/javascript" charset="utf-8" src="../static/js/ajax.js"></script>
        <script type="text/javascript" charset="utf-8" src="../static/js/test_case/ajax.js"></script>
    </body>
</html>
